body{
    background-color: #ffeedd;
}
.postBox{
    border: 1px solid;
    border-radius: 6px;
    width: calc(46% - 20px);
    margin: 10px;
    display: flex;
    background-color: lightgrey;
    position: relative;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name{
background-color: white;
width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox{
    background-color: lightgrey;
    height: 100%;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
}
.postHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
}
.delete-btn {
    color: #818181;
    font-size: 15px;
    cursor: pointer;
}
.card {
    position: relative;
    max-height: 80px; /* Adjust the maximum height of the content */
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
}
.readmore{
    float: right;
    cursor: pointer;
    color: #818181;
    padding: 10px 0;
}